.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
    background-color: #f4f4f4;
}

#search-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
    position: relative;
}

#search-description {
    font-size: 25px;
    color: #555;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif; 
}


#search-input {
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 30px;
    outline: none;
    box-sizing: border-box;
    background-color: #f8f8f8;
    transition: all 0.3s ease;
}

#search-input:focus {
    border-color: #4285f4;
    background-color: white;
}

#results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1;
    box-sizing: border-box;
}

.result-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f1f1f1;
}

.result-item:last-child {
    border-bottom: none;
}

.result-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.result-info {
    flex-grow: 1;
}

.result-info h3 {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: bold;
}

.result-info p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
